ErrorDocument 404 /index.html
<IfModule mod_rewrite.c>
RewriteEngine On

# Next lines fix mod_rewrite's trailing slash bug
RewriteCond %{REQUEST_URI} (.*)
RewriteRule bob.ruslanbes.com [R=301,L]
</IfModule>
